.outer-box {
    border: 3px solid black;
    padding: 40px;
    width: 80%;
    margin-left: 40px;
    text-align: center;
    margin-right: 10px;
}

.middle-box {
    background: blue;
    padding: 60px;
    margin-left: 60px;
    margin-right: 10px;
}

.inner-box {
    background: yellow;
    padding: 60px;
    font-size: 18px;
}