.container{
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    /* grid-template-areas: "header header header header" "main main . sidebar"  "footer footer footer footer";  */
    gap: 10px;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    /* grid-auto-column to give default size of implicit columns */

}

.item{
    /* height: 100px;
    width: 100px; */
    background-color: brown;
    border:1px solid black;
    color: white;
    align-content: center;
}
/* 
#item1{
    grid-area: header;
}
#item2{
    grid-area: main;
}
#item3{
    grid-area: sidebar;
}
#item4{
    grid-area: footer;
} */
