.container{
    display: flex;
    height: 200px;
    width: 500px;
    background-color: aqua;
    border: 2px solid black;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    height: 100px;
    width: 100px;
    background-color: coral;
    border: 2px solid black;
}