
h1{
    text-align: center;
    color: purple;
    margin-top: 2px;
}
p{
    color:red;
}
.external-css{
    border: 3px solid black;
    background-color: white;
    margin: 5px;
    padding: 10px;
    width: 60%; 
    height: 90px;
    box-align: center;
    
}